.textContainer{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  gap: 1rem;
  display: inline-flex;
  transform: translateX(-40%);
  font-size: x-large;
  color: white;
  text-align: center;
}

.buttonContainer{
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  gap: 1rem;
  display: inline-flex;
  transform: translateX(-40%);

}

.buttonSwitch
{
  padding: 10px;
  font-size: 16px;
  background-color: orange;

}








